<!--gitalk js code start-->
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script type="text/javascript">
      var gitalk = new Gitalk({
        id: window.location.pathname,
        clientID: 'Ov23liK3lQ2njYbko2fD',
        clientSecret: 'a817d14221f810914bb1c9bdc3e783da0ebcee59',
        repo: 'jasonyanxx.github.io',
        owner: 'JasonYanxx',
        admin: ['JasonYanxx'],
        distractionFreeMode: false
      });
      gitalk.render('gitalk-container');
</script>
<!--gitalk js code end-->